/***************************************/

.l-list
    margin-bottom                       10px

.l-itm
    margin-bottom                       10px

.l-lnk
    display                             block
    text-decoration                     none

.l-wrapper-img
    display                             inline-block
    margin-bottom                       10px
    width                               100%
    text-align                          center

.l-default-img
.l-img
    width                               100%
    max-width                           300px
    height                              200px

.l-default-img
    background-color                    $color7

.l-title-1
    font-size                           1.4rem
    text-transform                      uppercase

.l-content
    display                             inline-block
    vertical-align                      top



/* Mediaqueries Tablet ( >= 640px) */
// @media all and ( min-width: $smallScreenContentMaxWidth )

/* Mediaqueries Desktop ( >= 960px) */
// @media all and ( min-width: $mediumScreenContentMaxWidth )

/* Mediaqueries Large ( >= 1400px) */
// @media all and ( min-width: $largeScreenContentMaxWidth )
